    <!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p> Things I've been working on</p>
                    <a href="https://github.com/crow/iBeacon-Manager" class="btn btn-default btn-lg">iBeacon Manager</a>
                    <a href="https://github.com/crow/Mantra" class="btn btn-default btn-lg">Breathing Sensor</a>
                    <a href="https://github.com/crow/Bracelet" class="btn btn-default btn-lg">Bluetooth Wristband</a>
                    <p></p>
                    <a href="#contact" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
